@charset 'UTF-8';

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 100vw;
}

a {
    background-color: darkred;
    color: white;
    display: block;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: red;
}
